<div class="container">
    <form class="form-horizontal" #payForm="ngForm" (ngSubmit)="submit()">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input
                    type="checkbox"
                    [checked]="isDiscount"
                    (change)="isDiscount = !isDiscount"
                    >
                    Have a discount code
                </label>
            </div>
        </div>
        <div *ngIf="isDiscount">
            <div class="form-group">
                <label></label>
                <div class="col-xs-6">
                    <input
                    class="form-control"
                    type="text"
                    [readonly]="isValid"
                    placeholder="Enter it here"
                    [(ngModel)]="payment.discountCode"
                    name="discountCode"
                    >
                </div>
                <div class="col-xs-6">
                    <button
                    type="button"
                    class="btn btn-warning btn-block text-uppercase"
                    [disabled]="!payment.discountCode || processing"
                    (click)="isApplied ? setDefaultData() : checkDiscountCode()"
                    >
                        {{apply}}
                    </button>
                </div>
            </div>
            <div [hidden]="alertText ===''" class="form-group">
                <div
                class="alert text-center"
                [ngClass]="isValid ? 'alert-valid' : 'alert-invalid'"
                >
                    {{alertText}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <button
            type="submit"
            class="center-block btn btn-warning btn-lg text-uppercase"
            [disabled]="submitting"
            >
              <span *ngIf="!submitting" class="glyphicon glyphicon-lock icon-opacity"></span>
              <span *ngIf="submitting">Submitting...</span>
              <span *ngIf="!submitting">Pay {{payment.currentPrice | number:'0.2-2'}} USD</span>
            </button>
        </div>
    </form>
</div>
